body {
    margin: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container {
    width: 100vw;
    height: 100vh;   
    background: #ccffcc;
    display: flex;
}.box {
    width: 350px;
    height: 200px;
    background-color: rgba(19, 19, 19, 0.3);
    margin: auto;
    padding: 40px;
    
}.button{
    display: flex;
    margin: auto;   
    padding: 5px;
    margin-top: 10px;
}.tittle{
    color:  black;
    font-size: large;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
}.input{
    opacity: 50;
    border-radius: 1px;
    padding:0 5px;
    background-color:rgb(255, 255, 255); ;
    border:none;
    outline: none;
    border-bottom: 1px solid #0e0c0c;
    margin-top: 10px; 

}.upload_input{
    border:none;
    outline: none;
    margin-top: 10px; 
    font-family: 'Times New Roman', Times, serif;
    align-self: center;  
}.label{
    cursor: default;
    font-size: medium;
    color: black;
}.card{
    display: flex;
    flex-direction: column;

}table{
    border: 1px solid #0e0c0c;
}